<section class="board">
  <!-- header starts -->
<nav class="navbar navbar-expand-lg navbar-dark nav-custom-header">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link customIconHome" href="#"><i class="fa fa-home"></i> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 ml-sm-2 search" type="search" aria-label="Search">
          <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>
      </li>
    </ul>
    <div class="d-flex justify-content-center flex-grow-1">
      <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="logo"></a>
    </div>
    <div class="nav-item">
      <a class="nav-link customIconHome text-light" href="#"><i class="fa fa-plus"></i> </a>
    </div>
    <div class="nav-item mr-2 ml-2">
      <a class="nav-link customIconHome text-light" href="#"><i class="fa fa-info-circle"></i> </a>
    </div>
    <div class="nav-item">
      <a class="nav-link customIconHome text-light" href="#"><i class="fa fa-bell"></i> </a>
    </div>
    <div class="nav-item ml-2">
      <a class="nav-link customIconUser text-light" href="#"><i class="fa fa-user"></i> </a>
    </div>
    
  </div>
</nav>
<!-- header ends -->
<div class="container-fluid pt-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary custom-button dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-th-list"></i></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    <h4 class=" ml-3 mt-2 customFont">Project Team Spirit</h4>
    <div class=" ml-3  customStar"><i class="fa fa-star-o"></i></div> <span class="line">&#124;</span>
    <div class=" ml-3 customText">Acme, Inc</div><span class="line">&#124;</span>
    <img src="assets/images/p1.png" alt="" class="imgCustom">
    <img src="assets/images/p2.png" alt="" class="imgCustom2">
    <div class=" ml-2 customTextProfile">+12</div>
    <div class=" ml-2 customText">Invite</div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col" *ngFor="let column of columns" cdkDropList (cdkDropListDropped)="onDrop($event, column)">
      <div class="card mb-3">
        <div class="card-header">{{ column.name }}</div>
        <div class="card-body">
          <div *ngFor="let card of column.cards" class="card mb-2" cdkDrag>
            <div class="card-body">
              <h5 class="card-title">{{ card.title }}</h5>
              <p class="card-text">{{ card.description }}</p>
              <span class="deleteIcon" (click)="deleteCard(column, card)">x</span>
            </div>
          </div>
        </div>
        <span class="customlist">...</span>
        <span class="customOpen" (click)="openAddCardModal()">+</span>
      </div>
    </div>
  </div>
</div>




</section>