/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
    background: rgb(187,157,247);
    background: linear-gradient(90deg, rgba(187,157,247,1) 0%, rgba(197,71,200,1) 35%, rgba(254,165,209,1) 100%);
}